
*					{
	box-sizing: border-box;
}

.container{
	height: 100%;
} 

.tinted-image {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 5rem;
  width: 100%;
  height: 6rem;
  
  background: 
    linear-gradient(
      rgba(248, 189, 35, 0.75), 
      rgba(248, 189, 35, 0.75)
    ),
    url(https://lh3.googleusercontent.com/pgi8oiVXy-Sg5dtXJCpCKkD2LMirzhWRbOOHhd4OfyXtjbJd0k9beDAd_-011KtAJ32_NOH1AAKbiSwFbuBVLNz5yfdQRo7JkOYPNHNKyxltvjLmu_fRphUwQOlQmg_7LbnbFCfd0YK3oSW5wyqnZeYUNr1T2_jtab7I4dcqxwoyX1eGm7EyZpsRd1zjfHmOeCyqX0cZt1EULFcxU6wBwMUKWxQ88u-hGPY-COUn1PeX_y8NHdryuFBJa6HDG7KVtV0QGcAhkujGr53-z2SSDm2YHsSVPbSyvjYU40VOE8Ocibj6mYLi5vBwJk_hL5aexLVqUyIXUJGQ02MX2Cj67llDArCHNixuhuY2aKPEGdKjh6aEhhPeokKM9CrFlviNGuwN2P3hWWLyBDjU7ElRQvgRZ9UtfDC1U6PpHJRufWkGkPSxwIB0ED4sPij-7QrtUcASu6TiOgAU3nlbeYlN0CpC8ncBaOoZGb4iEfcrxeFdV5K51VlHh9s4tGlBuvLoHyrRcJi-_tBRS5jFSnF2PI9sUHbu4g6beDwU1z3KjDDP=w942-h706-no);
}

.top-bar 			{
	background-color: #F8BD23;
	height: 3rem;
	width: 100%;
	text-align: center;
	font-family: Raleway;
	line-height: 3rem;
	margin-top: 0.05rem;
}


.stuck				{
	position: fixed;
	top: 0rem;
}

.side-bar			{
	background-color: #fad36d;
	height: 100rem;
	width: 20vw;
	float: left;
	display: inline-block;
}

.side-cell			{
	background-color: #f7c43d;
	height: auto;
	border-color: #fad36d;
	border-width: 0.1rem;
	border-style: solid;
	font-family: 'Quicksand', sans-serif;
	padding: 0.25vw;
	transition: background-color 0.5s;
	color: black;
	text-decoration: none;
}

a:link				{
	text-decoration: none;
}

.side-cell:hover	{
	background-color: #fad36d;
}

.side-cell-sub	{
	display: none;
}

.hover	{
	display: block;
	width: 100%;
	height: 10rem;
	margin-bottom: 0.1rem;
	margin-top: 0.5rem;
	background-color: #fce9b7;
	animation: submenu 0.5s alternate;
}

@keyframes submenu	{
	0%		{
		height: 0rem;
	}
	100%	{
		height: 10rem;
	}
}

.article-pane	{
	background-color: white;
	height: 100%;
	width: 80%;
	margin-left: 20%;
	margin-top: 3rem;
	font-family: 'Playfair Display', serif;
	font-size: 1.5rem;
	font-weight: 100;
}

.HED			{
	font-weight: 700;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 2rem;
	line-height: 4rem;
	padding-bottom: 1rem;
	color: #373737;
}

.DEK			{
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.75rem;
	color: #373737;
	line-height: 3rem;
}

.details	{
	padding-top: 1rem;
	padding-left: 10%;
	padding-right: 10%;
	font-family: 'Quicksand', sans-serif;
	font-size: 1rem;
}

.published	{
	float: left;
}

.modified	{
	float: right;
}

.article 		{
	padding-top: 2rem;
	padding-left: 15%;
	padding-right: 15%;
}